.class__labels_maps {
  color: white;
  font-size: 1.5rem;
  font-family: Verdana;
  display: flex;
  align-items: center;
  font: bold; }

.class__labels_maps_cart {
  color: white;
  font-size: 1rem;
  font-family: Verdana;
  display: flex;
  align-items: center;
  font: bold; }

.btn__class, .btn__class-send, .btn__class-clear {
  font-family: 'Verdana';
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; }

.btn__class-send {
  background-color: white;
  width: 90px;
  height: 35px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }

.btn__class-clear {
  background-color: white;
  width: 90px;
  height: 35px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }

.btn__class-send:hover {
  background-color: #181717;
  color: white; }

.btn__class-clear:hover {
  background-color: #181717;
  color: white; }

.class__text_mix {
  color: #0e0d0d;
  font-size: 1rem;
  font-family: Verdana;
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  margin: 10px; }

.form_class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black; }

.form_main_class {
  background-color: black; }

.class_div_cart {
  margin: 5%; }

.label_class_color {
  color: white;
  font-size: x-large; }

.class_div_text_area {
  height: 300px; }

.class__text_area {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px; }

.color_h2_class {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.img__hover:hover {
  transform: scale(1.1); }

.font__size {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey; }

@keyframes left-in {
  0% {
    left: -100%;
    opacity: 0;
    color: #3030ac; }
  100% {
    left: 0;
    opacity: 1;
    color: #60699c; } }

.main__tittle {
  animation-name: left-in;
  animation-duration: 3s;
  font-style: italic; }

.ol_class {
  padding: 10%;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: white;
  border-style: double; }

.check_class {
  color: white; }
