.gradiant_class{

  background:  radial-gradient(rgb(97, 95, 95), rgb(116, 77, 116));
  background:  radial-gradient(closest-side,rgb(153, 152, 152), rgb(165, 164, 165), rgb(109, 30, 30));
  background:  radial-gradient(circle at 100%,rgb(187, 155, 155), rgb(187, 180, 187), rgb(129, 129, 98), transparent);
  background:  radial-gradient(ellipse at top,rgb(212, 209, 209), transparent),
               radial-gradient(ellipse at top,rgb(238, 237, 235), transparent);
}