@import "variables";

.gradiant_class{

    background:  radial-gradient(rgb(97, 95, 95), rgb(116, 77, 116));
    background:  radial-gradient(closest-side,rgb(153, 152, 152), rgb(165, 164, 165), rgb(109, 30, 30));
    background:  radial-gradient(circle at 100%,rgb(187, 155, 155), rgb(187, 180, 187), rgb(129, 129, 98), transparent);
    background:  radial-gradient(ellipse at top,rgb(212, 209, 209), transparent),
                 radial-gradient(ellipse at top,rgb(238, 237, 235), transparent);
  }

  .style_class{
    text-align: center;
    color: $color;

  }

 .form_class{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $backgroundColor;
    
    .class__labels{
        display:none;        
    }
    .class__field{
        width: $width;
        height: $heigth;
        margin: 10px;        
    }
    .sub__button{
        margin-left: 0px;
        margin-right: 5px;        
        width: 90px;
        height: 35px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        background-color: $buttoncolor;
        color:white;
    }
    .button_class{
        width: $width;
        height: $heigth;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
}
@media screen and (min-width: 768px){
    .form_class{
        
        .class__labels{
            display: flex;
            width: $width;
            height: $heigth;
            padding: 10px;
            align-items: center;
        }

    }
}

