@import 'variables';
@import 'maps';
@import 'extends';
@import 'mixins';

.gradiant_class{
    background:  linear-gradient(90deg, #b6b3b3 0%, #c6c6da 35%, #e0dddd 100%);
  }

 .form_class{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $backgroundColor;
}

.class_div_text_area{
    height: 300px;
}

.class__text_area{
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
}

.color_h2_class{
    color: rgb(71, 21, 121);
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}

.img__hover:hover{
    transform: scale(1.1);
}

.font__size{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

@keyframes left-in {
    0%{
      left:-100%;
      opacity: 0;
      color: rgb(48, 48, 172);

    }
    100%{
      left:0;
      opacity: 1;
      color: rgb(96, 105, 156);
    }
  }

  
.main__tittle{
    animation-name:left-in;
    animation-duration: 3s;
    font-style: italic;
}
